CREATE TABLE READER (NAME VARCHAR(40), R_ID VARCHAR (20),DOB DATE);
INSERT INTO READER VALUES ('A', 'R010' ,NULL);
INSERT INTO READER VALUES ('B', 'R011' ,NULL);
INSERT INTO READER VALUES ('C', 'R017' ,NULL);
INSERT INTO READER VALUES ('D', 'R012' ,NULL);
INSERT INTO READER VALUES ('I', 'R111' ,NULL);
INSERT INTO READER VALUES ('K', 'R212' ,NULL);
INSERT INTO READER VALUES ('L', 'R314' ,NULL);
SELECT * FROM READER ;


CREATE TABLE BOOK (B_ID VARCHAR(20),B_NAME VARCHAR (30));
INSERT INTO BOOK VALUES ('BO1','E');
INSERT INTO BOOK VALUES ('B05','F');
INSERT INTO BOOK VALUES ('B17','G');
INSERT INTO BOOK VALUES ('B21','H');
INSERT INTO BOOK VALUES ('B33','I');
INSERT INTO BOOK VALUES ('B45','M');
INSERT INTO BOOK VALUES ('B21','N');
SELECT * FROM BOOK ;


CREATE TABLE ACTIVE_READER(A_ID VARCHAR(6),R_ID VARCHAR(20),B_ID VARCHAR(20),A_TYPE VARCHAR (20),A_STATUS VARCHAR(20),
CONSTRAINT ACTIVE_READER_A_ID_PK PRIMARY KEY (A_ID),
CONSTRAINT ACCOUNT_R_ID_FK FOREIGN KEY (R_ID) REFERENCES READER(R_ID),
CONSTRAINT ACCOUNT_B_ID_FK FOREIGN KEY (B_ID) REFERENCES BOOK(B_ID)
);
INSERT INTO ACTIVE_READER VALUES ('A01','R010','B01','PASSIVE','TERIMNATE');
INSERT INTO ACTIVE_READER VALUES ('A07','R111','B33','ACTIVE','NON TERIMNATE');
INSERT INTO ACTIVE_READER VALUES ('A10','R011','B05','PASSIVE','TERIMNATE');
INSERT INTO ACTIVE_READER VALUES ('A44','R212','B45','PASSIVE','TERIMNATE');
INSERT INTO ACTIVE_READER VALUES ('A65','B017','B21','ACTIVE','NON TERIMNATE');
INSERT INTO ACTIVE_READER VALUES ('A69','R314','B17','ACTIVE','NON TERIMNATE');
SELECT * FROM ACTIVE_READER ;


CREATE TABLE BOOK_ISSUE (NO INT,B_ID VARCHAR(6),A_ID VARCHAR(6),ISSUE_NO INT,
CONSTRAINT TARDEDETAILS_TNUMBER_PK PRIMARY KEY (ISSUE_NO),
CONSTRAINT TARDEDETAILS_ACNUMBER_FK FOREIGN KEY (A_ID) REFERENCES ACTIVE_READER(A_ID) );
INSERT INTO BOOK_ISSUE (1,'B05','A01',1342);
INSERT INTO BOOK_ISSUE (2,'B33','A10',3422);
INSERT INTO BOOK_ISSUE (1,'B45','A44',3642);
INSERT INTO BOOK_ISSUE (1,NULL,NULL,342);
INSERT INTO BOOK_ISSUE (1,'B21','A65',2342);
INSERT INTO BOOK_ISSUE (1,NULL,NULL,4342);
SELECT* FROM BOOK_ISSUE ;



SELECT * FROM ACTIVE_READER WHERE A_STATUS = 'TERIMNATE';

SELECT * FROM ACTIVE_READER WHERE A_TYPE = 'ACTIVE';

SELECT COUNT(A_ID) FROM ACTIVE_READER WHERE A_TYPE='ACTIVE' ;
